<div class="row">
  <div class="col"><h3>Autos</h3></div>
  <div class="col">
    <select
      #automarke
      class="form-select markenCombobox"
      (change)="onAutoMarkenSelect(automarke.value)"
    >
      <option value="">{{ firstLabel }}</option>
      <option *ngFor="let marke of automarken" value="{{ marke }}">
        {{ marke }}
      </option>
    </select>
  </div>
</div>

<p *ngIf="!autoListe"><em>Loading...</em></p>

<table
  class="table table-striped"
  id="autoliste"
  aria-labelledby="tableLabel"
  *ngIf="autoListe"
>
  <thead>
    <tr>
      <th style="max-width:400px">ID</th>
      <th>Marke</th>
      <th>Modell</th>
      <th class="buttonColumn">
        <a routerLink="../autos/0" [queryParams]="{ viewstate: 'new' }">Neu</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let auto of autoListe">
      <td>{{ auto.ID }}</td>
      <td>{{ auto.Marke }}</td>
      <td [innerHTML]="auto.Modell"></td>
      <td nowrap>
        <a
          routerLink="../autos/{{ auto.ID }}"
          [queryParams]="{ viewstate: 'details' }"
          >Details</a
        >
        &nbsp;&nbsp;
        <a
          routerLink="../autos/{{ auto.ID }}"
          [queryParams]="{ viewstate: 'edit' }"
          >Edit</a
        >
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
