<nav ngxNavbarDynamicExpand class="navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Kundenservice</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapse.toggle()"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="
          navbar-toggler-icon
          d-flex
          align-items-center
          justify-content-center
        "
      >
      </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/autos">Autos</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/person">Kunden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/haendler">Händler</a>
        </li> -->
      </ul>
    </ngx-navbar-collapse>
  </div>
</nav>
